sqlite3

*/migrations/*

*.pyc

*/__pycache__/*

*/media/*



venv

*/venv/*

*.csv
*.xlsx
*.xlx
notes.txt
.env
.env.production

.vscode
node_modules/
venv/
env/
.env
envs/
logs/*
app.sh
envs
logs
debug.log
migrations/*
migrations/
__pycache__/
*.pyc
.idea/