{% load static %}

    

<div class="modal fade" id="hodEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="exampleModalLabel1">Edit HOD details</h4> </div>
                <ul>
                    <li>HOD ID</li>
                    <li>HOD Name</li>
                    <li>HOD Email</li>
                    <li>HOD Department</li>
                </ul>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>