{% extends 'base.html' %}
{% load static %}


{% block title %}
    Sorry
{% endblock title %}
    

{% block content %}
<div class="container-fluid">

{% include '../partials/messages.html' %}

{% include './components/create_log_modal.html' %}

    
{% for trainee_details in trainee_departments %}

<div class="col-lg-6 col-sm-6 col-xs-12">
    <div class="white-box">
      <h2>Sorry you do not have a department yes contact admin </h2>
        
    </div>
</div>


{% endfor %}


    
 
{% endblock content %}




